# Git-related files
.git

# Environment files
.env
pipelines/.dlt/secrets.toml
pipelines/credentials.json

pipelines/.dlt/*/load
pipelines/.dlt/*/normalize
pipelines/.dlt/*/trace.pickle


dbt/profiles.yml
dbt/dbt_packages/

# macOS-specific
.DS_Store
.AppleDouble
.LSOverride

# Airflow-specific
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
astro
.airflow
airflow-dag-run.log
airflow-worker.log
airflow-scheduler.log

# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd
.venv

request_cache/*.json

# Docker-related
.dockerignore
airflow_settings.yaml

# Editor and IDE specific files
.vscode/

# Misc
*.log

.user.yaml