airflow-provider-duckdb
dbt-core==1.8.2
dbt-duckdb==1.9.0
google-auth==2.40.3
oauth2client==4.1.3
gspread==6.2.1
numpy==2.3.0
pandas==2.3.0
black==25.1.0
gitdb==4.0.12
psycopg-binary==3.2.9
duckdb==1.3.1
dlt[parquet]==1.11.0
python-dotenv==1.1.0
astronomer-cosmos[dbt-duckdb]==1.10.1
airportsdata==20250523
pytest==8.4.1
sqlfluff==3.4.1
sqlfluff-templater-dbt==3.4.1
flake8==7.2.0